
@import '../mixins/index.scss';

$color-brand: #345B8F;
$color-brand-light: #5274A0;
$color-brand-dark: #27497C;

/* 辅助色 */
$color-success: #0C8;
$color-error: #FA5B5B;
$color-warning: #FFD400;
$color-info: #4D88FF;

/* 文本颜色 */
$color-text-base: #1D1F2B;
$color-text-title: #1D1F2B; // 文章标题

/* 组件样式 */
$wi-button-border-color-primary: transparent;
$wi-button-bg: linear-gradient(90deg, #5274A0, #27497C 100%);

$wi-message-bg-color: #95969F;

$wi-tag-color: $color-text-base;
$wi-tag-color-primary: $color-brand-light;
$wi-tag-color-primary-active: $color-brand-light;
$wi-tag-border-color: #BDBEC3;
$wi-tag-bg-color: #FFF;
$wi-tag-bg-color-primary: #E9F3FF;
$wi-tag-bg-color-primary-active: #E9F3FF;

$wi-range-track-bg-color: $color-brand-light;

$wi-indexes-nav-color: $color-text-title;

$wi-steps-bg-color-active: $color-brand-light;

$wi-timeline-dot-border-color: $color-brand;

$wi-calendar-day-color: $color-text-base;
